name: Deployment

on:
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: checkout to github Repository
        uses: actions/checkout@v2
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'  
      - id: 'deploy'
        uses: google-github-actions/deploy-cloud-functions@v0
        with:
          #  name: the name of our cloud function on cloud, this can be anything you want
          name: print_hello_world
          description: Test nodejs cloud function # nullable
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          region: us-central1
          # source_dir (Optional) Source directory for the function. Defaults to current directory.
          # source_dir: 
          # name of our function in our main.py file, defaults to the resource name suffix 
          entry_point: app
          # runtime to use for the function
          runtime: nodejs14
          # the function execution timeout
          timeout: 60
          # the maximum number of instances for the function.
          max_instances: 1
          # optional configs, see google-cloud-actions/deploy-cloud-functions for full reference
          # list of key-value pairs to set as environment variables in the form KEY1=VALUE1,KEY2=VALUE2.
  #       env_vars: # optional